<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Godot 4.3 webcam web demo</title>
</head>
<body>

<div id="background"></div>

<style>
    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        z-index: 1;
    }
</style>

<canvas id="canvas"></canvas>

<style>
    #canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
    }
</style>

<script src="$GODOT_URL"></script>
<script>
    var engine = new Engine($GODOT_CONFIG);
    engine.startGame();
</script>

<canvas id="canvas"></canvas>
<video id="video"></video>

<style>
    #video, #canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -10;
    }

    #canvas {
        transform: scaleX(-1);
    }
</style>

<script>
    window.godotFunctions = {};
    window.externalator = {
        video : document.getElementById("video"),
        addGodotFunction: (n,f) => {
            window.godotFunctions[n] = f;
        }
    }
</script>

<script type="module">
    const stream = await navigator.mediaDevices.getUserMedia({
        video: {
            facingMode: 'environment',
        }
    });

    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var cw = 0;
    var ch = 0;

    video.addEventListener('play', function() {
        draw(this,context, canvas);
    }, false);

    function draw(v,c) {
        if(v.paused || v.ended) return false;

        cw = canvas.width;
        ch = canvas.height;
        canvas.style.width = video.offsetWidth + "px";
        canvas.style.height = video.offsetHeight + "px";

        c.drawImage(v,0,0,parseInt(cw),parseInt(ch));
        setTimeout(draw,20,v,c);

        if (godotFunctions.update_camera != null) {
            godotFunctions.update_camera(canvas.toDataURL());
        }
    }
</script>
</body>
</html>
